#memTable{
	max-width: 712px;
	height: auto;
	-moz-box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 20px rgba(0,0,0,0.5);

}

.memblock{
	width: 90px;
	height: 80px;
	border: 1px solid #666;
	float: left;
	font-size: 36px;
	text-align: center;
	padding-top: 10px;
	font-family: sans-serif;
	margin-left: -1px;
	margin-top: -1px;
    -moz-box-shadow:inset 0px 0px 20px rgba(0,0,0,0.5);
    -webkit-box-shadow:inset 0px 0px 20px rgba(0,0,0,0.5);
    box-shadow:inset 0px 0px 20px rgba(0,0,0,0.5);
    text-shadow: 0px 1px 0px #000;
}

/*"white", "blue", "red", "green", "yellow", "cyan", "gray", "black", "pink", "purple", "orange"*/
.label-white{
	background: #FFF;
	color: #111;
}

.label-blue{
	background: #302FF2;
	color: #FFF;
}

.label-red{
	background: #DE1515;
	color: #FFF;
}

.label-green{
	background: #008F04;
	color: #FFF;
}

.label-yellow{
	background: #B8B22A;
	color: #FFF;
}

.label-cyan{
	background: #40C2B4;
	color: #FFF;
}

.label-gray{
	background: #666;
	color: #FFF;
}

.label-black{
	background: #111;
	color: #FFF;
}

.label-pink{
	background: #C30C96;
	color: #FFF;
}

.label-purple{
	background: #871DBE;
	color: #FFF;
}

.label-orange{
	background: #E9782E;
	color: #FFF;
}




#processor{
	background: url(../img/processor_vector.png) center center no-repeat;
	width: 90%;
	height: 198px;
	color: #28E6F3;
	font-family: sans-serif;
	font-size: 64px;
	text-align: center;
	line-height: 198px;
	text-shadow: 0px 1px 0px #000;
	text-shadow: 0px 0px 5px rgba(40, 230, 243, 0.5);
	margin-bottom: 20px;
}


#disk{
	background: url(../img/floppy.png) center center no-repeat;
	width: 90%;
	height: 198px;
	margin-bottom: 20px;
}

a[data-toggle="modal"]{
	cursor: pointer;
}










